<button class="backButton" (click)="goBack()">Back</button>
<div class="headerUser">
    <h3 class="title">{{userSelected[0]?.login}}</h3>
    <img src="{{userSelected[0]?.avatar_url}}" alt="User photo" class="userPhoto">
</div>

<section *ngIf="errorServer === false">
    <div>
        <h3 class="title">REPOSITORIOS</h3>
        <ul *ngFor="let repo of reposUserSelected">
            <li>{{repo.name}}</li>
        </ul>
    </div>
    <div>
        <h3 class="title">FOLLOWERS</h3>
        <ul *ngFor="let follower of followersUserSelected">
            <li>{{follower.login}}</li>
        </ul>
    </div>
</section>
<p *ngIf="errorServer === true">Algo salió mal, el servidor no ha respondido correctamente</p>
