<div class="bodyContainer">
    <p class="titlePage">Inserta el usuario aquí</p>
    <form (ngSubmit)="setNameInUrl()">
        <input id="name" type="text" [formControl]="userSearched" class="inputUser">
        <button type="submit" class="buttonSubmit">Buscar</button>
    </form>
    <div *ngIf="isSearching === true" class="spinnerContainer">
        <mat-spinner></mat-spinner>
    </div>
    <p *ngIf="searchedUsersInInput.length === 0 && waiting === false"> No hay datos que coincidan</p>
    <p *ngIf="errorServer === true && waiting === false">El servidor no ha respondido correctamente intentalo más tarde</p>
    <ul>
        <li *ngFor="let user of searchedUsersInInput">
            <a [routerLink]="user.login" class="userTarget">
                <p>{{user.login}}</p>
                <img src={{user.avatar_url}} alt="User photo" class="photoUser">
            </a>
        </li>
    </ul>
</div>
